body {
    font-family: Arial;
    max-width: 100%; /* Max width */
    color: #7f7f7f;
}

.slider {
  width: 100%!important;
  height: 850px;
  padding: 0px!important;
  margin-bottom: 20px;
}

.image-slider {
  height: 100%;
}

.carousel {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.item {
  height: 100%;
}

.item img {
  height: 100%;
}

.glyphicon-chevron-left {
  margin-left: -50px!important;
}

.glyphicon-chevron-right {
  margin-right: -50px!important;
}

.attraction-details {
  width: 80%;
  margin: auto;

}
.attraction-title h1 {
  margin-bottom: 2px;
  margin-top: 0;
}

.attraction-title p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.attraction-overview-wrapper{
  width: 96%;
  margin-left: 10%;
  margin-bottom: 15px;
}

.attraction-overview {
  width: 83.36%;
  margin: auto;
  height: 75px;
  display: inline-flex;
  border-bottom: 1px solid grey;
}

.attraction-header {
  width: 100%;
}

.location-year {
  display: flex;
}

.built {
  text-align: right;
  width: 30%;
}

.location {
  width: 70%;
  padding: 0;
}

.attraction-header h1 {
  color: #faa026;
}

.attraction-header p {
  color: #7f7f7f;
  margin-bottom: 10px;
}

.attraction-description {
  margin-bottom: 18px;
  margin-top: 30px;
}

.attraction-description h3{
  margin-top: 15px;
  margin-bottom: 5px;
}

.attraction-main-details .fa{
  font-size: 15px;
  margin-right: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.wrapper {
  height: 30px;
  width: 100%;
  background-color: #faa026;
}

.wrapper h3 {
  color: white;
}

.website-button {
  margin-top: 15px;
}

.website-button input {
  width: 20%;
  height: 45px;
  color: white;
  background-color: #3e8fba;
}

.website-button input:hover {
  transition: 0.3s;
  background-color: #faa026;
}

.attraction-location {
  height: 470px;
}


* {
    box-sizing: border-box;
}

h3 {
  color: white;
  margin-bottom: 8px;
  margin-left: 35%;
}

.heading {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top:10px;
}

.middle {
    margin-top:10px;
    float: left;
    width: 70%;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.stars:after {
    content: "";
    display: table;
    clear: both;
}

.stars {
  margin: 0px!important;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .side, .middle {
        width: 100%;
    }
    .right {
        display: none;
    }
}

@media (max-width: 579px) {
  .attraction-overview {
    height: 100px;
  }
}

@media (max-width: 360px) {
  .attraction-overview {
    height: 160px;
  }
}

.element {
  margin-left: 2%;
}

.elem-img img{
  width: 90%;
  margin-bottom: -9px;
}

.elem-description {
  background-color: #3e8fba;
  color: white;
  width: 90%;
  height: 120px;
}

.elem-title {
  text-align: center;
}

.elem-title p, .elem-title h3 {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px!important;
}

.elem-description p,
.elem-description h3 {
  margin-left: 5px;
}



.near-services h1 {
  color: #faa026;
  margin-left: 1.98%;
  width: 95.7%;
  border-bottom: 1px solid grey;

}
